#imgFrontContainer {
    position: relative;
    top: 60px;
    max-width: 1400px;
    height: calc(700px + 10vw);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcomeText {
    color: var(--purple-color);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* -webkit-text-stroke: 0.1px rgb(255, 255, 255); */
    /* text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; */
}


.imgFront1 {
    /* filter: brightness(150%); */
    top: 200px;
    left: 0;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    object-fit: cover;
    width: clamp(100px, 320px, 35vw);
    height: clamp(200px, 420px, 45vw);
    border-radius: 6px;
}
.imgFront2 {
    top: 65px;
    right: 0;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    object-fit: cover;
    width: clamp(100px, 300px, 28vw);
    height: clamp(100px, 300px, 30vw);
    /* height: auto; */
    border-radius: 6px; 
}

.imgFront3 {
    bottom: 0px;
    right: 9px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    object-fit: cover;
    width: clamp(100px, 300px, 25vw);
    height: clamp(100px, 300px, 30vw);
    /* height: auto; */
    border-radius: 6px;
}

.imgFront1, .imgFront2, .imgFront3 {
    box-shadow: 5px 5px 20px var(--purple-color-less); 
    transition: transform 1s cubic-bezier(0.25, 1, 0.25, 1);
    position: absolute;
}

#welcomeText > div > p {
    font-size: clamp(16px, 10.5vw, 5.4em); /* 16px 11vw 5.2em */
    line-height: 1.1;
    font-weight: bold;
    position: relative;
    text-shadow: var(--ECECEC) 0px 0px 4px, var(--ECECEC) 0px 0px 5px;
    text-align: center;
}
#welcomeText > p:nth-child(2) {
    font-size: clamp(14px, 2.85vw, 1.5em);
    text-shadow: var(--ECECEC) 0px 0px 5px;
}
#welcomeText > p {
    padding: 6px;
}

/*  */
/*  */
/*  */
#serviceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
    max-width: 1400px;
    margin: 0 auto;
    /* height: 100vh; */
    /* background: linear-gradient(360deg, rgb(102,0,148), rgba(208, 106, 255, 0.5)); */
}

.collage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 150px);
    grid-gap: 15px;
    width: 750px;
    margin: 30px;
}

.collage > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    transition: transform 2s ease;
}

#img1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

#img2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

#img3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

#img4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}


.serviceText {
    color: var(--purple-color);
    text-align: center;
    padding: 100px 25px 30px 25px;
}

.serviceText > p:nth-child(1) {
    font-size: clamp(10px, 8vw, 2.5em);
}
.serviceText > p:nth-child(2) {
    font-size: clamp(14px, 2.85vw, 1.5em);
}

/*  */
/*  */
/*  */

@media only screen and (max-width: 1325px) {
    .imgFront1 {
        display: none;
    }
    .imgFront2 {
        top: 20px;
        left: 15px;
        /* width: max(120px, 24vw); */
        /* height: max(150px, 30vw); */

        width: clamp(120px, 340px, 25vw);
        height: clamp(150px, 440px, 33vw);
    }
    
    .imgFront3 {
        bottom: 5px;
        right: 25px;
        /* width: max(120px, 24vw); */
        /* height: max(150px, 30vw); */

        width: clamp(120px, 340px, 27vw);
        height: clamp(150px, 440px, 34vw);
    }
}

@media only screen and (max-width: 945px) {
    .collage {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 120px);
        grid-gap: 7px;
        width: 550px;
        margin: 15px;
    }
}

@media only screen and (max-width: 630px) {
    #imgFrontContainer {
        height: 600px;
    }
    .collage {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 75px);
        grid-gap: 7px;
        width: 340px;
        margin: 15px;
    }
}

@media only screen and (max-width: 445px) {
    /* .imgFront1 {
        display: none;
    } */
    .imgFront2 {
        top: 45px;
        left: 9px;
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        object-fit: cover;
        /* width: clamp(140px, 300px, 28vw); */
        width: max(120px, 28vw);
        /* height: clamp(100px, 300px, 40vw); */
        height: max(150px, 36vw);
        /* height: auto; */
        border-radius: 6px; 
    }
    
    .imgFront3 {
        bottom: 45px;
        right: 15px;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        object-fit: cover;
        /* width: clamp(140px, 300px, 25vw); */
        width: max(120px, 25vw);
        /* height: clamp(100px, 400px, 46vw); */
        height: max(150px, 36vw);
        /* height: auto; */
        border-radius: 6px;
    }
}

/* @media only screen and (max-width: 300px) {
    .imgFront2 {
        top: 80px;
        width: clamp(140px, 300px, 28vw);
        height: clamp(100px, 300px, 43vw);
    }
    
    .imgFront3 {
        bottom: 30px;
        width: clamp(140px, 300px, 25vw);
        height: clamp(100px, 400px, 48vw);
    }
} */